In [6]:
!pip install comtradeapicall

Collecting comtradeapicall
  Downloading comtradeapicall-1.2.1-py3-none-any.whl (19 kB)
Installing collected packages: comtradeapicall
Successfully installed comtradeapicall-1.2.1

In [7]:
import pandas as pd
import requests
import comtradeapicall
import time
import random
from IPython.display import clear_output
import os

pd.set_option('display.max_columns', None)

subscription_key = 'input actual'

directory = 'Z:\\14.Python\\python_tool\\UnComtradeAPI'  # output directory for downloaded files 
proxy_url = '<PROXY URL>'  # optional if you need proxy url

In [ ]:
directory = 'data/UnOre/'  # output directory for downloaded files

In [ ]:
hscode = {'Nickel':'282540,283324',
          'Cobalt':'282200,283329',
          'Lithium':'282520,283691',
          'Manganese':'850610'}

In [2]:
','.join(hscode.values())

NameError: name 'hscode' is not defined

# 조회조건

In [8]:
#hscode = '282540,283324' # 산화/수산화니켈(282540), 황산니켈(283324)

hscode = '282200,283329' # 산화/수산화코발트(282200), 황산코발트(283329)
#hscode = '282520,283691' # 산화/수산화리튬(282520), 탄산리튬(283691)
#hscode = '850610' # 이산화망간(850610)

flow_code = 'M,X' # M : Import / X : Export
total_period = '202412'

### Subscription key 필요없는 일부 데이터 확인용 코드

In [9]:
mydf = comtradeapicall.previewFinalData(typeCode='C', freqCode='M', clCode='HS', period=total_period,
                                        reporterCode='826,246', cmdCode=hscode, flowCode=flow_code, partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=50000, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)
mydf

Empty DataFrame
Columns: []
Index: []

In [13]:
len(mydf)

0

### Subscription key 필요한 다운로드 코드
* **너무 자주, 많이 호출하면 밴당할 수 있음**
* 조회조건 입력은 연단위, 월단위 중 하나만 실행

In [30]:
# CSV파일 저장(1개월씩 저장)
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period=total_period,
                                        reporterCode=None, cmdCode=hscode, flowCode=flow_code, partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords='250000', format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [31]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,flowDesc,partnerCode,partnerISO,partnerDesc,partner2Code,partner2ISO,partner2Desc,classificationCode,classificationSearchCode,isOriginalClassification,cmdCode,cmdDesc,aggrLevel,isLeaf,customsCode,customsDesc,mosCode,motCode,motDesc,qtyUnitCode,qtyUnitAbbr,qty,isQtyEstimated,altQtyUnitCode,altQtyUnitAbbr,altQty,isAltQtyEstimated,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,0,W00,World,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4750.00,False,8,kg,4750.00,False,4750.00,False,0.00,False,78240.053,76874.521,78240.053,0,False,True
1,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,156,CHN,China,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4000.00,False,8,kg,4000.00,False,4000.00,False,0.00,False,65844.782,64799.402,65844.782,0,False,True
2,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,710,ZAF,South Africa,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,750.00,False,8,kg,750.00,False,750.00,False,0.82,False,12395.271,12075.119,12395.271,0,False,True
3,C,M,20240401,2024,4,202404,56,BEL,Belgium,M,Import,0,W00,World,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,365570.14,False,8,kg,365570.14,False,365570.14,False,0.00,False,5848345.079,NaN,5848345.079,0,False,True
4,C,M,20240401,2024,4,202404,56,BEL,Belgium,M,Import,156,CHN,China,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4205.93,False,8,kg,4205.93,False,4205.93,False,0.00,False,64881.997,NaN,64881.997,0,True,False

In [87]:
# CSV파일 저장(1개월씩 저장)
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period=total_period,
                                        reporterCode=None, cmdCode=hscode, flowCode=flow_code, partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords='250000', format_output='JSON',
                                        aggregateBy=None, breakdownMode='plus', countOnly=None, includeDesc=True)

In [88]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,flowDesc,partnerCode,partnerISO,partnerDesc,partner2Code,partner2ISO,partner2Desc,classificationCode,classificationSearchCode,isOriginalClassification,cmdCode,cmdDesc,aggrLevel,isLeaf,customsCode,customsDesc,mosCode,motCode,motDesc,qtyUnitCode,qtyUnitAbbr,qty,isQtyEstimated,altQtyUnitCode,altQtyUnitAbbr,altQty,isAltQtyEstimated,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,0,W00,World,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4750.00,False,8,kg,4750.00,False,4750.00,False,0.00,False,78240.053,76874.521,78240.053,0,False,True
1,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,156,CHN,China,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4000.00,False,8,kg,4000.00,False,4000.00,False,0.00,False,65844.782,64799.402,65844.782,0,False,True
2,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,710,ZAF,South Africa,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,750.00,False,8,kg,750.00,False,750.00,False,0.82,False,12395.271,12075.119,12395.271,0,False,True
3,C,M,20240401,2024,4,202404,56,BEL,Belgium,M,Import,0,W00,World,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,365570.14,False,8,kg,365570.14,False,365570.14,False,0.00,False,5848345.079,NaN,5848345.079,0,False,True
4,C,M,20240401,2024,4,202404,56,BEL,Belgium,M,Import,156,CHN,China,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4205.93,False,8,kg,4205.93,False,4205.93,False,0.00,False,64881.997,NaN,64881.997,0,True,False

In [92]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6082 entries, 0 to 6081
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  6082 non-null   object
 1   freqCode                  6082 non-null   object
 2   refPeriodId               6082 non-null   int64
 3   refYear                   6082 non-null   int64
 4   refMonth                  6082 non-null   int64
 5   period                    6082 non-null   object
 6   reporterCode              6082 non-null   int64
 7   reporterISO               6082 non-null   object
 8   reporterDesc              6082 non-null   object
 9   flowCode                  6082 non-null   object
 10  flowDesc                  6082 non-null   object
 11  partnerCode               6082 non-null   int64
 12  partnerISO                6082 non-null   object
 13  partnerDesc               6082 non-null   object
 14  partner2Code              6082 non-null   int64
 15  partner2ISO               6082 non-null   object
 16  partner2Desc              6082 non-null   object
 17  classificationCode        6082 non-null   object
 18  classificationSearchCode  6082 non-null   object
 19  isOriginalClassification  6082 non-null   bool
 20  cmdCode                   6082 non-null   object
 21  cmdDesc                   6082 non-null   object
 22  aggrLevel                 6082 non-null   int64
 23  isLeaf                    6082 non-null   bool
 24  customsCode               6082 non-null   object
 25  customsDesc               6082 non-null   object
 26  mosCode                   6082 non-null   object
 27  motCode                   6082 non-null   int64
 28  motDesc                   6082 non-null   object
 29  qtyUnitCode               6082 non-null   int64
 30  qtyUnitAbbr               6082 non-null   object
 31  qty                       6082 non-null   float64
 32  isQtyEstimated            6082 non-null   bool
 33  altQtyUnitCode            6082 non-null   int64
 34  altQtyUnitAbbr            6082 non-null   object
 35  altQty                    6082 non-null   float64
 36  isAltQtyEstimated         6082 non-null   bool
 37  netWgt                    5925 non-null   float64
 38  isNetWgtEstimated         6082 non-null   bool
 39  grossWgt                  6082 non-null   float64
 40  isGrossWgtEstimated       6082 non-null   bool
 41  cifvalue                  3353 non-null   float64
 42  fobvalue                  3943 non-null   float64
 43  primaryValue              6082 non-null   float64
 44  legacyEstimationFlag      6082 non-null   int64
 45  isReported                6082 non-null   bool
 46  isAggregate               6082 non-null   bool
dtypes: bool(8), float64(7), int64(11), object(21)
memory usage: 1.9+ MB

In [101]:
for columns in mydf.columns:
    if mydf[columns].dtype == 'object':
        mydf[columns] =  mydf[columns].astype(str)
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6082 entries, 0 to 6081
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  6082 non-null   object
 1   freqCode                  6082 non-null   object
 2   refPeriodId               6082 non-null   int64
 3   refYear                   6082 non-null   int64
 4   refMonth                  6082 non-null   int64
 5   period                    6082 non-null   object
 6   reporterCode              6082 non-null   int64
 7   reporterISO               6082 non-null   object
 8   reporterDesc              6082 non-null   object
 9   flowCode                  6082 non-null   object
 10  flowDesc                  6082 non-null   object
 11  partnerCode               6082 non-null   int64
 12  partnerISO                6082 non-null   object
 13  partnerDesc               6082 non-null   object
 14  partner2Code              6082 non-null   int64
 15  partner2ISO               6082 non-null   object
 16  partner2Desc              6082 non-null   object
 17  classificationCode        6082 non-null   object
 18  classificationSearchCode  6082 non-null   object
 19  isOriginalClassification  6082 non-null   bool
 20  cmdCode                   6082 non-null   object
 21  cmdDesc                   6082 non-null   object
 22  aggrLevel                 6082 non-null   int64
 23  isLeaf                    6082 non-null   bool
 24  customsCode               6082 non-null   object
 25  customsDesc               6082 non-null   object
 26  mosCode                   6082 non-null   object
 27  motCode                   6082 non-null   int64
 28  motDesc                   6082 non-null   object
 29  qtyUnitCode               6082 non-null   int64
 30  qtyUnitAbbr               6082 non-null   object
 31  qty                       6082 non-null   float64
 32  isQtyEstimated            6082 non-null   bool
 33  altQtyUnitCode            6082 non-null   int64
 34  altQtyUnitAbbr            6082 non-null   object
 35  altQty                    6082 non-null   float64
 36  isAltQtyEstimated         6082 non-null   bool
 37  netWgt                    5925 non-null   float64
 38  isNetWgtEstimated         6082 non-null   bool
 39  grossWgt                  6082 non-null   float64
 40  isGrossWgtEstimated       6082 non-null   bool
 41  cifvalue                  3353 non-null   float64
 42  fobvalue                  3943 non-null   float64
 43  primaryValue              6082 non-null   float64
 44  legacyEstimationFlag      6082 non-null   int64
 45  isReported                6082 non-null   bool
 46  isAggregate               6082 non-null   bool
dtypes: bool(8), float64(7), int64(11), object(21)
memory usage: 1.9+ MB

In [23]:
# CSV파일 저장(1년씩 저장)
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='A', clCode='HS', period='2023',
                                        reporterCode=None, cmdCode=hscode, flowCode=flow_code, partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords='250000', format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [ ]:
mydf

In [24]:
mydf

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,flowDesc,partnerCode,partnerISO,partnerDesc,partner2Code,partner2ISO,partner2Desc,classificationCode,classificationSearchCode,isOriginalClassification,cmdCode,cmdDesc,aggrLevel,isLeaf,customsCode,customsDesc,mosCode,motCode,motDesc,qtyUnitCode,qtyUnitAbbr,qty,isQtyEstimated,altQtyUnitCode,altQtyUnitAbbr,altQty,isAltQtyEstimated,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20230101,2023,52,2023,28,ATG,Antigua and Barbuda,M,Import,0,W00,World,0,W00,World,H3,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,5.76,False,5,u,15.00,False,5.76,False,0.0,False,340.385,NaN,340.385,0,False,True
1,C,A,20230101,2023,52,2023,28,ATG,Antigua and Barbuda,M,Import,842,USA,USA,0,W00,World,H3,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,5.76,False,5,u,15.00,False,5.76,False,0.0,False,340.385,NaN,340.385,0,False,True
2,C,A,20230101,2023,52,2023,31,AZE,Azerbaijan,M,Import,0,W00,World,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,400.00,False,8,kg,400.00,False,400.00,False,0.0,False,3271.710,NaN,3271.710,0,False,True
3,C,A,20230101,2023,52,2023,31,AZE,Azerbaijan,M,Import,792,TUR,Türkiye,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,400.00,False,8,kg,400.00,False,400.00,False,0.0,False,3271.710,NaN,3271.710,0,False,True
4,C,A,20230101,2023,52,2023,32,ARG,Argentina,M,Import,0,W00,World,0,W00,World,H5,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,51500.38,False,8,kg,51500.38,False,51500.38,False,0.0,False,1735334.820,1637983.110,1735334.820,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4311,C,A,20230101,2023,52,2023,860,UZB,Uzbekistan,X,Export,0,W00,World,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,333300.00,False,21,1000 KG,333.30,False,333300.00,False,0.0,False,NaN,307672.000,307672.000,0,False,True
4312,C,A,20230101,2023,52,2023,860,UZB,Uzbekistan,X,Export,762,TJK,Tajikistan,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,312300.00,False,21,1000 KG,312.30,False,312300.00,False,0.0,False,NaN,290572.000,290572.000,0,True,False
4313,C,A,20230101,2023,52,2023,860,UZB,Uzbekistan,X,Export,804,UKR,Ukraine,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,21000.00,False,21,1000 KG,21.00,False,21000.00,False,0.0,False,NaN,17100.000,17100.000,0,True,False
4314,C,A,20230101,2023,52,2023,894,ZMB,Zambia,X,Export,0,W00,World,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1605728.00,False,8,kg,1605728.00,False,1605728.00,False,0.0,False,NaN,458223.895,458223.895,0,False,True
4315,C,A,20230101,2023,52,2023,894,ZMB,Zambia,X,Export,180,COD,Dem. Rep. of the Congo,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1605728.00,False,8,kg,1605728.00,False,1605728.00,False,0.0,False,NaN,458223.895,458223.895,0,False,True

In [14]:
mydf[mydf['reporterCode']==36].head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,flowDesc,partnerCode,partnerISO,partnerDesc,partner2Code,partner2ISO,partner2Desc,classificationCode,classificationSearchCode,isOriginalClassification,cmdCode,cmdDesc,aggrLevel,isLeaf,customsCode,customsDesc,mosCode,motCode,motDesc,qtyUnitCode,qtyUnitAbbr,qty,isQtyEstimated,altQtyUnitCode,altQtyUnitAbbr,altQty,isAltQtyEstimated,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,0,W00,World,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4750.0,False,8,kg,4750.0,False,4750.0,False,0.000,False,78240.053,76874.521,78240.053,0,False,True
1,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,156,CHN,China,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,4000.0,False,8,kg,4000.0,False,4000.0,False,0.000,False,65844.782,64799.402,65844.782,0,False,True
2,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,710,ZAF,South Africa,0,W00,World,H6,HS,True,282200,Cobalt oxides and hydroxides; commercial cobal...,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,750.0,False,8,kg,750.0,False,750.0,False,0.820,False,12395.271,12075.119,12395.271,0,False,True
17,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,0,W00,World,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,3713348.5,False,8,kg,3713348.5,False,3713348.5,False,0.000,False,2461683.948,2274365.234,2461683.948,0,False,True
18,C,M,20240401,2024,4,202404,36,AUS,Australia,M,Import,156,CHN,China,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,3247243.0,False,8,kg,3247243.0,False,3247243.0,False,3261.744,False,2187196.699,2030611.644,2187196.699,0,False,True

In [ ]:
mydf.to_csv(f'{hscode}_{period_manual}.csv', index=False)
mydf

In [55]:
len(mydf)

1439

In [17]:
# list data availabity from last week for reference year 2021
mydf = comtradeapicall.getFinalDataAvailability(subscription_key, typeCode='C', freqCode='A', clCode='HS', period='2024',
                                        reporterCode=None, )

In [18]:
mydf

Empty DataFrame
Columns: []
Index: []

In [160]:
# list data availabity from last week for reference year 2021
mydf = comtradeapicall.getFinalDataAvailability(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202306',
                                        reporterCode=None)

In [161]:
mydf

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,reporterDesc,classificationCode,classificationSearchCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,firstReleased,lastReleased
0,30020202306202100,C,M,202306,20,AND,Andorra,H6,HS,True,True,True,False,True,False,False,17941,184088359,2023-10-01T21:31:26.8,2024-02-26T21:26:24.1766667
1,30028202306082100,C,M,202306,28,ATG,Antigua and Barbuda,H3,HS,True,True,True,False,True,True,True,67698,-1290147162,2024-08-08T02:00:45.1366667,2024-08-08T02:00:45.1366667
2,30031202306202100,C,M,202306,31,AZE,Azerbaijan,H6,HS,True,True,True,True,True,True,True,470158,-918886254,2023-08-29T22:35:18.1166667,2023-08-29T22:35:18.1166667
3,30032202306182100,C,M,202306,32,ARG,Argentina,H5,HS,True,True,True,True,True,False,False,164513,-635919941,2023-09-23T10:18:14.5066667,2023-09-26T15:14:26.44
4,30036202306202100,C,M,202306,36,AUS,Australia,H6,HS,True,True,True,False,True,False,True,304238,1793332030,2023-08-27T16:50:36.25,2024-02-07T17:29:43.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,30842202306202100,C,M,202306,842,USA,USA,H6,HS,True,True,True,False,True,False,False,600064,1296895085,2023-08-23T04:07:05.9833333,2023-08-23T04:07:05.9833333
97,30854202306202100,C,M,202306,854,BFA,Burkina Faso,H6,HS,True,True,True,False,True,False,True,35321,1311604373,2024-03-06T23:03:01.6733333,2024-03-06T23:03:01.6733333
98,30858202306202100,C,M,202306,858,URY,Uruguay,H6,HS,True,True,True,False,True,True,True,184276,-1991811542,2024-03-02T16:34:52.41,2024-03-02T16:34:52.41
99,30860202306202100,C,M,202306,860,UZB,Uzbekistan,H6,HS,True,True,True,False,True,False,False,76445,2031758703,2023-12-25T02:48:00.8666667,2023-12-25T02:48:00.8666667
100,30894202306202100,C,M,202306,894,ZMB,Zambia,H6,HS,True,True,True,True,True,True,True,410463,-1120922069,2024-02-29T02:58:48.9866667,2024-02-29T02:58:48.9866667

In [167]:
mydf[mydf['reporterCode']==20]['lastReleased'].item()

'2024-02-26T21:26:24.1766667'

In [72]:
mydf['lastReleased'] = mydf['lastReleased'].astype('datetime64')

In [206]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   datasetCode               101 non-null    int64
 1   typeCode                  101 non-null    object
 2   freqCode                  101 non-null    object
 3   period                    101 non-null    int64
 4   reporterCode              101 non-null    int64
 5   reporterISO               101 non-null    object
 6   reporterDesc              101 non-null    object
 7   classificationCode        101 non-null    object
 8   classificationSearchCode  101 non-null    object
 9   isOriginalClassification  101 non-null    bool
 10  isExtendedFlowCode        101 non-null    bool
 11  isExtendedPartnerCode     101 non-null    bool
 12  isExtendedPartner2Code    101 non-null    bool
 13  isExtendedCmdCode         101 non-null    bool
 14  isExtendedCustomsCode     101 non-null    bool
 15  isExtendedMotCode         101 non-null    bool
 16  totalRecords              101 non-null    int64
 17  datasetChecksum           101 non-null    int64
 18  firstReleased             101 non-null    object
 19  lastReleased              101 non-null    object
dtypes: bool(7), int64(5), object(8)
memory usage: 11.1+ KB

In [ ]:
mydf[]

In [75]:
from datetime import datetime, timedelta

base_date = datetime.now() - timedelta(days=90)
base_date

datetime.datetime(2024, 6, 19, 11, 22, 21, 14092)

In [76]:
mydf[mydf['lastReleased'] >= base_date]

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,reporterDesc,classificationCode,classificationSearchCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,firstReleased,lastReleased
1,30028202306082100,C,M,202306,28,ATG,Antigua and Barbuda,H3,HS,True,True,True,False,True,True,True,67698,-1290147162,2024-08-08T02:00:45.1366667,2024-08-08 02:00:45.136666700
5,30048202306202100,C,M,202306,48,BHR,Bahrain,H6,HS,True,True,True,False,True,False,False,62449,-893121951,2024-07-15T12:20:17.2366667,2024-07-15 12:20:17.236666700
16,30100202306202100,C,M,202306,100,BGR,Bulgaria,H6,HS,True,True,True,False,True,True,True,960228,-690211752,2023-08-26T19:31:14.63,2024-06-26 21:29:49.196666700
30,30246202306202100,C,M,202306,246,FIN,Finland,H6,HS,True,False,True,True,True,False,False,631972,654459556,2023-09-17T02:27:27.7,2024-09-03 16:49:30.763333300
32,30268202306182100,C,M,202306,268,GEO,Georgia,H5,HS,True,True,True,False,True,False,True,221938,1242578927,2023-08-22T18:07:40.5233333,2024-06-21 22:09:50.633333300
38,30328202306182100,C,M,202306,328,GUY,Guyana,H5,HS,True,True,True,False,True,True,True,90663,1999440769,2023-08-22T16:09:52.56,2024-07-10 08:09:34.780000000
42,30372202306202100,C,M,202306,372,IRL,Ireland,H6,HS,True,True,True,False,True,False,False,161804,-791818633,2023-08-26T15:50:42.6566667,2024-08-21 14:44:53.680000000
62,30504202306202100,C,M,202306,504,MAR,Morocco,H6,HS,True,False,True,False,True,False,False,71685,-596575417,2023-11-26T12:42:12.2866667,2024-07-25 21:02:30.366666700
76,30634202306202100,C,M,202306,634,QAT,Qatar,H6,HS,True,False,True,False,True,False,False,22217,-315438442,2024-08-09T08:58:56.7433333,2024-08-09 08:58:56.743333300
81,30702202306202100,C,M,202306,702,SGP,Singapore,H6,HS,True,False,True,False,True,False,False,167317,47211484,2024-03-14T22:47:25.8733333,2024-08-10 18:53:07.430000000
90,30792202306202100,C,M,202306,792,TUR,Türkiye,H6,HS,True,False,True,True,True,True,True,5419637,881734158,2023-08-29T04:38:08.2633333,2024-08-07 05:05:13.400000000
94,30826202306202100,C,M,202306,826,GBR,United Kingdom,H6,HS,True,True,True,True,True,False,True,5468939,-729989800,2023-09-05T06:38:20.8833333,2024-08-24 07:46:41.120000000

In [86]:
mydf[mydf['lastReleased'] >= base_date][['reporterCode','reporterDesc']].set_index('reporterCode')['reporterDesc'].to_dict()

{28: 'Antigua and Barbuda',
 48: 'Bahrain',
 100: 'Bulgaria',
 246: 'Finland',
 268: 'Georgia',
 328: 'Guyana',
 372: 'Ireland',
 504: 'Morocco',
 634: 'Qatar',
 702: 'Singapore',
 792: 'Türkiye',
 826: 'United Kingdom'}

In [61]:
# CSV파일 저장(1개월씩 저장)
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period=total_period,
                                        reporterCode=246, cmdCode=hscode, flowCode=flow_code, partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords='250000', format_output='JSON',
                                        aggregateBy=None, breakdownMode='plus', countOnly=None, includeDesc=True)

In [62]:
mydf

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,flowDesc,partnerCode,partnerISO,partnerDesc,partner2Code,partner2ISO,partner2Desc,classificationCode,classificationSearchCode,isOriginalClassification,cmdCode,cmdDesc,aggrLevel,isLeaf,customsCode,customsDesc,mosCode,motCode,motDesc,qtyUnitCode,qtyUnitAbbr,qty,isQtyEstimated,altQtyUnitCode,altQtyUnitAbbr,altQty,isAltQtyEstimated,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,56,BEL,Belgium,276,DEU,Germany,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,2500.000,False,8,kg,2500.0,False,2500.000,False,0.0,False,64044.739,NaN,64044.739,0,True,False
1,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,276,DEU,Germany,276,DEU,Germany,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,32.000,False,8,kg,32.0,False,32.000,False,0.0,False,4721.288,NaN,4721.288,0,True,False
2,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,528,NLD,Netherlands,276,DEU,Germany,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,23750.000,False,8,kg,23750.0,False,23750.000,False,0.0,False,42094.665,NaN,42094.665,0,True,False
3,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,757,CHE,Switzerland,276,DEU,Germany,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,175.013,True,-1,N/A,0.0,False,175.013,True,0.0,False,149.116,NaN,149.116,6,True,False
4,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,528,NLD,Netherlands,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,246075.000,False,8,kg,246075.0,False,246075.000,False,0.0,False,227521.884,NaN,227521.884,0,False,True
5,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,156,CHN,China,528,NLD,Netherlands,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,48075.000,False,8,kg,48075.0,False,48075.000,False,0.0,False,62564.307,NaN,62564.307,0,True,False
6,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,484,MEX,Mexico,528,NLD,Netherlands,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,48000.000,False,8,kg,48000.0,False,48000.000,False,0.0,False,59339.542,NaN,59339.542,0,True,False
7,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,699,IND,India,528,NLD,Netherlands,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,150000.000,False,8,kg,150000.0,False,150000.000,False,0.0,False,105618.034,NaN,105618.034,0,True,False
8,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,724,ESP,Spain,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,193112.000,False,8,kg,193112.0,False,193112.000,False,0.0,False,35528.202,NaN,35528.202,0,False,True
9,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,724,ESP,Spain,724,ESP,Spain,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,193112.000,False,8,kg,193112.0,False,193112.000,False,0.0,False,35528.202,NaN,35528.202,0,True,False
10,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,752,SWE,Sweden,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1063.000,False,8,kg,1063.0,False,1063.000,False,0.0,False,10826.457,NaN,10826.457,0,False,True
11,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,56,BEL,Belgium,752,SWE,Sweden,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,2.000,False,8,kg,2.0,False,2.000,False,0.0,False,56.857,NaN,56.857,0,True,False
12,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,276,DEU,Germany,752,SWE,Sweden,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,60.000,False,8,kg,60.0,False,60.000,False,0.0,False,1777.590,NaN,1777.590,0,True,False
13,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,752,SWE,Sweden,752,SWE,Sweden,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1000.000,False,8,kg,1000.0,False,1000.000,False,0.0,False,8968.409,NaN,8968.409,0,True,False
14,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,804,UKR,Ukraine,752,SWE,Sweden,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1.000,False,8,kg,1.0,False,1.000,False,0.0,False,23.601,NaN,23.601,0,True,False
15,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,0,W00,World,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,2207374.000,False,8,kg,2207374.0,False,2207374.000,False,0.0,False,NaN,708937.709,708937.709,0,False,True
16,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,156,CHN,China,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,15.000,False,8,kg,15.0,False,15.000,False,0.0,False,NaN,166.280,166.280,0,True,False
17,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,196,CYP,Cyprus,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,48000.000,False,8,kg,48000.0,False,48000.000,False,0.0,False,NaN,24828.332,24828.332,0,True,False
18,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,233,EST,Estonia,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,98450.000,False,8,kg,98450.0,False,98450.000,False,0.0,False,NaN,22353.437,22353.437,0,True,False
19,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,276,DEU,Germany,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,9106.000,False,8,kg,9106.0,False,9106.000,False,0.0,False,NaN,1675.676,1675.676,0,True,False
20,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,392,JPN,Japan,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,2.000,False,8,kg,2.0,False,2.000,False,0.0,False,NaN,17.164,17.164,0,True,False
21,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,484,MEX,Mexico,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,72000.000,False,8,kg,72000.0,False,72000.000,False,0.0,False,NaN,59114.259,59114.259,0,True,False
22,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,604,PER,Peru,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1224000.000,False,8,kg,1224000.0,False,1224000.000,False,0.0,False,NaN,329727.417,329727.417,0,True,False
23,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,710,ZAF,South Africa,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,462000.000,False,8,kg,462000.0,False,462000.000,False,0.0,False,NaN,177928.513,177928.513,0,True,False
24,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,752,SWE,Sweden,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,293800.000,False,8,kg,293800.0,False,293800.000,False,0.0,False,NaN,93123.410,93123.410,0,True,False
25,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,826,GBR,United Kingdom,899,_X,"Areas, nes",H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1.000,False,8,kg,1.0,False,1.000,False,0.0,False,NaN,3.218,3.218,0,True,False
26,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,156,CHN,China,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,15.000,False,8,kg,15.0,False,15.000,False,0.0,False,NaN,166.280,166.280,0,False,True
27,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,196,CYP,Cyprus,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,48000.000,False,8,kg,48000.0,False,48000.000,False,0.0,False,NaN,24828.332,24828.332,0,False,True
28,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,233,EST,Estonia,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,98450.000,False,8,kg,98450.0,False,98450.000,False,0.0,False,NaN,22353.437,22353.437,0,False,True
29,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,276,DEU,Germany,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,9106.000,False,8,kg,9106.0,False,9106.000,False,0.0,False,NaN,1675.676,1675.676,0,False,True
30,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,392,JPN,Japan,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,2.000,False,8,kg,2.0,False,2.000,False,0.0,False,NaN,17.164,17.164,0,False,True
31,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,484,MEX,Mexico,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,72000.000,False,8,kg,72000.0,False,72000.000,False,0.0,False,NaN,59114.259,59114.259,0,False,True
32,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,604,PER,Peru,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1224000.000,False,8,kg,1224000.0,False,1224000.000,False,0.0,False,NaN,329727.417,329727.417,0,False,True
33,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,710,ZAF,South Africa,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,462000.000,False,8,kg,462000.0,False,462000.000,False,0.0,False,NaN,177928.513,177928.513,0,False,True
34,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,752,SWE,Sweden,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,293800.000,False,8,kg,293800.0,False,293800.000,False,0.0,False,NaN,93123.410,93123.410,0,False,True
35,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,826,GBR,United Kingdom,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1.000,False,8,kg,1.0,False,1.000,False,0.0,False,NaN,3.218,3.218,0,False,True
36,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,56,BEL,Belgium,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,12729.000,False,8,kg,12729.0,False,12729.000,False,0.0,False,15038.177,NaN,15038.177,0,False,True
37,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,56,BEL,Belgium,56,BEL,Belgium,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,12703.000,False,8,kg,12703.0,False,12703.000,False,0.0,False,13687.551,NaN,13687.551,0,True,False
38,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,276,DEU,Germany,56,BEL,Belgium,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1.000,False,8,kg,1.0,False,1.000,False,0.0,False,212.410,NaN,212.410,0,True,False
39,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,724,ESP,Spain,56,BEL,Belgium,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,25.000,False,8,kg,25.0,False,25.000,False,0.0,False,1138.216,NaN,1138.216,0,True,False
40,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,156,CHN,China,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,48029.000,False,8,kg,48029.0,False,48029.000,False,0.0,False,50237.036,NaN,50237.036,0,False,True
41,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,156,CHN,China,156,CHN,China,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,48029.000,False,8,kg,48029.0,False,48029.000,False,0.0,False,50237.036,NaN,50237.036,0,True,False
42,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,208,DNK,Denmark,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,5313.000,False,8,kg,5313.0,False,5313.000,False,0.0,False,3779.391,NaN,3779.391,0,False,True
43,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,208,DNK,Denmark,208,DNK,Denmark,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,63.000,False,8,kg,63.0,False,63.000,False,0.0,False,161.989,NaN,161.989,0,True,False
44,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,276,DEU,Germany,208,DNK,Denmark,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,5250.000,False,8,kg,5250.0,False,5250.000,False,0.0,False,3617.401,NaN,3617.401,0,True,False
45,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,276,DEU,Germany,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,26457.013,True,-1,N/A,0.0,False,26457.013,True,0.0,False,111009.807,NaN,111009.807,6,False,True
46,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,276,DEU,Germany,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,5343.000,False,8,kg,5343.0,False,5343.000,False,0.0,False,10328.689,NaN,10328.689,0,False,True
47,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,484,MEX,Mexico,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,48000.000,False,8,kg,48000.0,False,48000.000,False,0.0,False,59339.542,NaN,59339.542,0,False,True
48,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,528,NLD,Netherlands,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,23750.000,False,8,kg,23750.0,False,23750.000,False,0.0,False,42094.665,NaN,42094.665,0,False,True
49,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,699,IND,India,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,150000.000,False,8,kg,150000.0,False,150000.000,False,0.0,False,105618.034,NaN,105618.034,0,False,True
50,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,724,ESP,Spain,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,193137.000,False,8,kg,193137.0,False,193137.000,False,0.0,False,36666.417,NaN,36666.417,0,False,True
51,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,752,SWE,Sweden,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1000.000,False,8,kg,1000.0,False,1000.000,False,0.0,False,8968.409,NaN,8968.409,0,False,True
52,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,757,CHE,Switzerland,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,175.013,True,-1,N/A,0.0,False,175.013,True,0.0,False,149.116,NaN,149.116,6,False,True
53,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,804,UKR,Ukraine,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,1.000,False,8,kg,1.0,False,1.000,False,0.0,False,23.601,NaN,23.601,0,False,True
54,C,M,20240401,2024,4,202404,246,FIN,Finland,X,Export,0,W00,World,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,2207374.000,False,8,kg,2207374.0,False,2207374.000,False,0.0,False,NaN,708937.709,708937.709,0,False,True
55,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,0,W00,World,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,532778.013,True,-1,N/A,0.0,False,532778.013,True,0.0,False,453940.954,NaN,453940.954,6,False,True
56,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,56,BEL,Belgium,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,15205.000,False,8,kg,15205.0,False,15205.000,False,0.0,False,77789.147,NaN,77789.147,0,False,True
57,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,156,CHN,China,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,96104.000,False,8,kg,96104.0,False,96104.000,False,0.0,False,112801.344,NaN,112801.344,0,False,True
58,C,M,20240401,2024,4,202404,246,FIN,Finland,M,Import,208,DNK,Denmark,0,W00,World,H6,HS,True,283329,Sulphates; n.e.c. in item no. 2833.2,6,True,C00,TOTAL CPC,0,0,TOTAL MOT,8,kg,63.000,False,8,kg,63.0,False,63.000,False,0.0,False,161.989,NaN,161.989,0,False,True

In [40]:
# list data availabity from last week for reference year 2021
mydf = comtradeapicall._getFinalDataAvailability(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202407',
                                        reporterCode=None, )
mydf

TypeError: _getFinalDataAvailability() got multiple values for argument 'typeCode'

In [29]:
mydf['lastReleased'].sort_values(ascending=False)

51         2024-09-14T04:11:24.75
59    2024-09-13T15:25:44.3066667
9     2024-09-11T21:25:47.7366667
53         2024-09-05T23:11:16.24
29         2024-09-04T21:06:25.84
                 ...
32         2024-06-21T20:59:10.19
61    2024-06-21T16:14:51.3266667
52    2024-06-11T23:42:58.2233333
41    2024-06-01T10:25:55.0166667
42    2024-05-23T07:45:14.2533333
Name: lastReleased, Length: 62, dtype: object

## ES 검색

In [117]:
from elasticsearch import Elasticsearch

In [131]:
# Connect to Elasticsearch by GPT
es = Elasticsearch(['http://es:9200'])

# Define the index
index_name = 'mangan_index3'

In [146]:
query = {
    "bool": {
        "must": [
            {"match": {"reporterCode": 826}}
        ]
    }
}

response = es.search(
    index=index_name,
    query=query,  # 쿼리 전달
    #_source=["@timestamp"],  # 가져올 필드
    size=None  # 가져올 문서 수 (필요에 따라 조정 가능)
)

In [147]:
# Parse and print the search results
for hit in response['hits']['hits']:
    print(hit['_source']['@timestamp'])

2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18

In [145]:
# Parse and print the search results
temp_list = []
for hit in response['hits']['hits']:
    print(hit['_source']['@timestamp'])
    temp_list.append(hit['_source']['@timestamp'])

set(temp_list)

2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18

{'2024-09-18'}

In [142]:
list(set(temp_list))[0]

'2024-09-18'

In [156]:
def send_query_to_index(index_name, query, row_limit=None):
    #es = Elasticsearch([self.es_hosts])
    es = Elasticsearch(['http://es:9200'])

    response = es.search(
        index=index_name,
        query=query,  # 쿼리 전달
        size=row_limit  # 가져올 문서 수 (필요에 따라 조정 가능)
    )
    return response

query = {
    "bool": {
        "must": [
            {"match": {"reporterCode": 826}}
        ]
    }
}

response = send_query_to_index(index_name='mangan_index3', query=query, row_limit=None)

In [158]:
def chk_oldest_timestamp(response, column_name='@timestamp'):
    temp_list = []
    for hit in response['hits']['hits']:
        print(hit['_source'][column_name])
        temp_list.append(hit['_source'][column_name])

    return list(set(temp_list))[0]

chk_oldest_timestamp(response)

2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18
2024-09-18

'2024-09-18'

In [190]:
def send_query_to_index(index_name, query, row_limit=None):
    #es = Elasticsearch([self.es_hosts])
    es = Elasticsearch(['http://es:9200'])

    response = es.search(
        index=index_name,
        query=query,  # 쿼리 전달
        size=row_limit  # 가져올 문서 수 (필요에 따라 조정 가능)
    )
    return response

query = {
    "bool": {
        "must": [
            {"terms": {"reporterCode": [826, 246]}}
        ]
    }
}

response = send_query_to_index(index_name='mangan_index3', query=query, row_limit=10000)

In [204]:
def chk_oldest_timestamp_of_es(response, base_column='reporterCode', timestamp_column='@timestamp'):
    result_dict = {}

    # 검색 결과에서 reporterCode와 @timestamp 값을 딕셔너리로 추출
    for hit in response['hits']['hits']:
        reporter_code = str(hit['_source'].get(base_column))
        timestamp = hit['_source'].get(timestamp_column)

        # reporterCode를 key로, @timestamp를 value로 추가
        result_dict[reporter_code] = datetime.strptime(timestamp, "%Y-%m-%d")
        
    return result_dict
        
result_dict = chk_oldest_timestamp_of_es(response)
result_dict

{'246': datetime.datetime(2024, 9, 18, 0, 0),
 '826': datetime.datetime(2024, 9, 18, 0, 0)}

In [205]:
for i in result_dict.keys():
    print(result_dict[i])
    print(type(result_dict[i]))

2024-09-18 00:00:00
<class 'datetime.datetime'>
2024-09-18 00:00:00
<class 'datetime.datetime'>

In [210]:
# index없는 경우
def send_query_to_index(index_name, query, row_limit=None):
    #es = Elasticsearch([self.es_hosts])
    es = Elasticsearch(['http://es:9200'])

    response = es.search(
        index=index_name,
        query=query,  # 쿼리 전달
        size=row_limit  # 가져올 문서 수 (필요에 따라 조정 가능)
    )
    return response

query = {
    "bool": {
        "must": [
            {"terms": {"reporterCode": [826, 246]}}
        ]
    }
}

try:
    response = send_query_to_index(index_name='none_index', query=query, row_limit=10000)

NotFoundError: NotFoundError(404, 'index_not_found_exception', 'no such index [none_index]', none_index, index_or_alias)

In [211]:
teststr = "{'Already_exist': ['/opt/bitnami/spark/data/gh_archive/2024-09-18-10.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-11.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-12.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-13.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-14.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-15.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-16.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-17.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-18.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-19.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-20.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-21.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-22.json.gz', '/opt/bitnami/spark/data/gh_archive/2024-09-18-23.json.gz'], 'Downloaded': [], 'Failed': ['https://data.gharchive.org/2024-09-18-00.json.gz', 'https://data.gharchive.org/2024-09-18-01.json.gz', 'https://data.gharchive.org/2024-09-18-02.json.gz', 'https://data.gharchive.org/2024-09-18-03.json.gz', 'https://data.gharchive.org/2024-09-18-04.json.gz', 'https://data.gharchive.org/2024-09-18-05.json.gz', 'https://data.gharchive.org/2024-09-18-06.json.gz', 'https://data.gharchive.org/2024-09-18-07.json.gz', 'https://data.gharchive.org/2024-09-18-08.json.gz', 'https://data.gharchive.org/2024-09-18-09.json.gz']}"

In [215]:
import ast

ast.literal_eval(teststr)

{'Already_exist': ['/opt/bitnami/spark/data/gh_archive/2024-09-18-10.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-11.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-12.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-13.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-14.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-15.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-16.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-17.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-18.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-19.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-20.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-21.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-22.json.gz',
  '/opt/bitnami/spark/data/gh_archive/2024-09-18-23.json.gz'],
 'Downloaded': [],
 'Failed': ['https://data.gharchive.org/2024-09-18-00.json.gz',
  'https://data.gharchive.org/2024-09-18-01.json.gz',
  'https://data.gharchive.org/2024-09-18-02.json.gz',
  'https://data.gharchive.org/2024-09-18-03.json.gz',
  'https://data.gharchive.org/2024-09-18-04.json.gz',
  'https://data.gharchive.org/2024-09-18-05.json.gz',
  'https://data.gharchive.org/2024-09-18-06.json.gz',
  'https://data.gharchive.org/2024-09-18-07.json.gz',
  'https://data.gharchive.org/2024-09-18-08.json.gz',
  'https://data.gharchive.org/2024-09-18-09.json.gz']}